<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Plugin Activator -->
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="hu.it4all.plugin.navigator.handlers.Activator">
      </startup>
   </extension>

   <!-- MDM Event Marker Definition -->
   <extension
         id="mdmEventMarker"
         name="MDM Event Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>

   <!-- Marker Resolution Generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="hu.it4all.plugin.navigator.handlers.markers.NavigationResolution"
            markerType="hu.it4all.plugin.navigator.mdmEventMarker">
      </markerResolutionGenerator>
   </extension>

   <!-- Project Builder -->
   <extension
         id="mdmEventBuilder"
         name="MDM Event Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="hu.it4all.plugin.navigator.handlers.builder.MDMEventBuilder">
         </run>
      </builder>
   </extension>

   <!-- Project Nature -->
   <extension
         id="mdmEventNature"
         name="MDM Event Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hu.it4all.plugin.navigator.handlers.nature.MDMEventNature">
         </run>
      </runtime>
      <builder
            id="hu.it4all.plugin.navigator.mdmEventBuilder">
      </builder>
   </extension>

   <!-- Nature konfigurálása projektekhez (jobb klikk menü) -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="hu.it4all.plugin.navigator.contribution1">
         <action
               label="Add/Remove MDM Event Nature"
               class="hu.it4all.plugin.navigator.handlers.nature.AddRemoveNatureAction"
               menubarPath="additions"
               enablesFor="1"
               id="hu.it4all.plugin.navigator.addRemoveNature">
         </action>
      </objectContribution>
   </extension>

   <!-- Marker megjelenítési beállítások -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="hu.it4all.plugin.navigator.mdmEventAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info"
            markerType="hu.it4all.plugin.navigator.mdmEventMarker">
      </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="hu.it4all.plugin.navigator.mdmEventAnnotation"
            colorPreferenceKey="mdmEventColor"
            colorPreferenceValue="100,149,237"
            contributesToHeader="false"
            highlightPreferenceKey="mdmEventHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="MDM Event Publisher"
            overviewRulerPreferenceKey="mdmEventOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            textPreferenceKey="mdmEventText"
            textPreferenceValue="true"
            textStylePreferenceKey="mdmEventTextStyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="mdmEventVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>

</plugin>